---

---

/*******************************************

    INDEX.HERO

********************************************/

#hero {
    position: relative;
    width: 100%;

    background-image: url({{site.baseurl}}/img/index/hero.png);
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    /* filter: brightness(50%); */
}

#hero-text {
    max-width: 700px;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

#hero-text h1 {
    font-weight: 500;
    font-size: 2.5em;
    color: white;
}

#hero-text h3 {
    font-weight: 300;
    font-size: 1.33rem;
    color: white;
}