/*******************************************

    techtalksS.GRID

********************************************/

.techtalks-grid-container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 }

 .techtalks-company-pic {
  display: grid;
  align-items: center;
  padding-left: 15%;
 }
.techtalks-project{
  padding-left: 15%;
}
.techtalks-grid-item:hover {
  background-color: rgba(0, 174, 255, 0.13);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.playable {
  position: absolute;
  right: 8px;
  bottom: 8px;
  transform: scale(0.75);
}

/*******************************************

  techtalksS.SORT-SELECTOR

********************************************/
#sort-selector-text {
  display: inline-block;
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: center;
  
}

#sort-selector {
  font-weight: 500;
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 0.25rem;
}


/*******************************************

  techtalksS.MEDIA QUERIES

********************************************/

@media only screen and (max-width: 800px) {
  .techtalks-grid-container {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .techtalks-grid-container .thumbnail-height {
      height: 100px;
      width: 100px;
      margin: auto;
      border-radius: 7px;
  }

  .techtalks-grid-container .padding-20 {
      padding: 10px;
  }

  .techtalks-grid-container .thumbnail-title {
      font-size: 0.8em;
  }

  .playable {
      position: absolute;
      right: -8px;
      bottom: -8px;
  }
}