div.highlighted-project {
    background-color: rgba(0, 0, 0, 0.7);
    float: center;
    width: 85%;
    padding: 25px 100px 25px 100px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: realtive;
}

h1.highlighted-project {
    font-size: 200%;
    text-align: center;
    color: #A9A9A9;
    text-shadow: 0px 0px 2px;
}

.highlighted-project p {
    margin: auto;
    width: 100%;
    padding: 0;
    font-size: 150%;
    display: block;
}

img.highlighted-project {
    width: 304px;
    height: 228px;
    float: right;
    margin: 0 0 10px 10px;
    opacity: 1;
    border-style: solid;
    border-color: #000000;
}

img.highlighted-project:hover {
    opacity: 0.5;
}