@import url(http://fonts.googleapis.com/css?family=Lato:300);

/* Colors
# 00 00 00 Black
# 06 2F 4F Ink
# 81 37 72 Posy
# 88 26 01 Embers
# 0E 0B 16 Void
*/

body {
    background-color: #062F4F;
    color: #EEEEEE;
    margin: 0;
}

header {
    margin-top: 80px;
    text-align: center;
    color: white;
    font-style: bold;
}

h1 {
    font-size: 600%;
    text-align: center;
    color: #EEEEEE;
}

h2 {
    font-size: 500%;
    text-align: center;
    color: #AAAAAA;
}

p {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

nav {
    font-size: 25px;
    background-color: black;
    margin: 15px;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 10;
}

nav ul li {
    display: inline;
    float: left;
    margin: 15px;
}

nav ul li a {
    padding: 10px 40px;
    font-family: oswald;
    color: #2e92ba;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #333e51;
}

.active {
    background-color: #f4f5f7;
}

div.projects {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

div.projects ul {
    padding: 0px;
    margin: 0 auto;
    width: 80%;

    
    list-style-type: none;
}

div.projects ul li{
    padding: 0px;
    margin: 0px 0px 32px 0px;
    overflow: hidden;
}

h1.projects {
    font-size: 48px;
    text-align: center;
    color: #A9A9A9;
    text-shadow: 0px 0px 2px;

    margin: 0px;
    padding: 32px;

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 0;
    border-top-width: 4px;

    display: block;
}

div.projects p {
    text-align: left;
    text-indent: inherit;
    font-size: inherit;
    margin: 0px;
}

.projects-image {
    float: right;
    margin: 0px 16px;
}

.projects-text {
    text-indent: 64px;
    font-size: 28px;
}

img.projects {
    width: 480px;
    height: 300px;
    opacity: 1;
    border-style: solid;
    border-color: #000000;
}

img.projects:hover {
    opacity: 0.5;
}

.read_more_less {
    text-decoration: underlined;
    float: right;
    color: black;
}