@import url(http://fonts.googleapis.com/css?family=Lato:300);

/* Colors
# 00 00 00 Black
# 06 2F 4F Ink
# 81 37 72 Posy
# 88 26 01 Embers
# 0E 0B 16 Void
*/

header {
    margin-top: 80px;
    text-align: center;
    color: white;
    font-style: bold;
}

body {
    background-color: #555555;
    color: #EEEEEE;
    margin: 0;
}

p {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

div.main-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.projects {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 75%;

    float: left;

    /* background-color: Blue; */
}



div.projects ul {
    padding: 0px;
    margin: 0 auto;
    
    list-style-type: none;
}

div.projects ul li{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px;
    margin: 0px 0px 16px 0px;
    overflow: hidden;

/*    height: 300px; */
}

h1.projects-title {
    margin: 16px 0px 0px 0px;
    font-size: 48px;
    text-align: left;
    color: white;
}





/* The check box side ======================================================================== */

div.checkboxes {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 20%;

    float: right;

    background-color: rgba(0, 0, 0, 0.7);
}

div.box {
    padding: 16px;
}

h1.box-title {
    margin: 0px;
    padding: 16px 8px;
    font-size: 22px;
    text-align: left;
    color: white;

    background-color: #1F657C;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label:before {
    content: url(Checkbox.png);
    display: inline-block;
    
    margin: 16px 16px;
    padding: 0;

    width: 22px;
    height: 22px;

    vertical-align: middle;
 
}
input[type="checkbox"]:checked + label:before {
    content: url(Checked-Checkbox.png);
}

/* ============================================================================================ */

div.projects p {
    text-align: left;
    text-indent: inherit;
    margin: 0px 0px 16px 0px;
}

.projects-image {
    float: left;
    margin: 16px 32px 16px 8px;
    width: 320px;
    height: 200px;
}

.projects-text {
    text-indent: 64px;
    font-size: 28px;
}

img.projects {
    width: 480px;
    height: 300px;
    opacity: 1;
    border-style: solid;
    border-color: #000000;
}

img.projects:hover {
    opacity: 0.5;
}

.read_more_less {
    text-decoration: underlined;
    float: right;
    color: black;
}
