
#image_container
{
  text-align: center;
  width: 100%;
}

#image_list li {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
  margin: 2px;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

#display_image{
  width: 100%;
  height: 550px;
  overflow: hidden;

}
#image_view
{
  display: block;
  width: auto;
  height: 100%;
  margin: auto;
}

#PhotoGallery
{
  width: 760px;
  height: 680px;

}

div.section
{
    position: relative;
    display: inline-block;
}

div.section-content.show
{
    display: block;
}

div.section-content
{
    display: none;
    position: relative;
    z-index = -1;
}
