/*
.thumbnail
{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
*/
/*
.thumbnail img
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
*/
#image_table tr
{
}
img{
  display: block;
  width: 100%;
  height: auto;
}
#image_container
{
  width: 100%;
  height: 100%;
  background-color: red;
}
