@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Lobster|Nova+Square');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*
{
    margin: 0px;
}

body
{
    position: relative;
    height: 100vh;
}

.Wrapper
{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

#SelectBox
{
  width: 98%;
  font-family: 'Nova Square';
  box-shadow: 2px 4px #143e4e;
  font-weight: 20px;
  font-size: 16px;
}

/*Note sure if needed, this scales the page numbers correctly but not the thumbnails for some reason */
div.Thumbnail_Wrapper
{
    width: 100%;
    height: 35%;
}

#image_container
{
  text-align: center;
  width: 100%;
  height: 40%;
}
.imageList {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
  margin: 2px;
  margin-bottom: 20px;

}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;

  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

img.left_arrow, img.right_arrow
{
   z-index: 1;
   position: absolute;
   top: 350px;
   font-weight: bold;
   font-size: 50px;
   color: white;
   transition: 0.6s ease;
}

img.right_arrow
{
    left:90.6%;
}

img.left_arrow:hover, img.right_arrow:hover
{
    background-color: #191919;
}
#thumbnail_right_arrow
{
  width: 3%;
  height: 8%;
  top: 81%;
  left: 90.6%;
}
#thumbnail_left_arrow
{
  width: 3%;
  height: 8%;
  top: 81%;
  left: 35%;
}

#display_image{
  width: 100%;
  height: 80%;
  overflow: hidden;

}
#image_view
{
  display: block;
  width: auto;
  height: 100%;
  margin: auto;
  image-orientation: from-image;
}

#PhotoGallery
{
  margin-top: 100px;
  margin-right: 5%;
  float: right;
  width: 60%;
  height: 80%;
  border: 8px solid #0c3b4b;
  background-color:#0c3b4b;
  box-shadow: 4px 4px grey;
}

/*Restrict width only to make the bg color not extend too far */
.heading
{
  color: white;
  font-family: 'Nova Square';
  margin-bottom: 0px;
}
p.item
{
    margin: 2px;
    color: white;
    font-family: 'Roboto';
}

p.item:hover
{
    background-color: #232322;
}

div.nav_bar
{
    top:0; bottom:0; left:0;
}

div.section
{
    position: relative;
    display: inline-block;
}

div.section-container
{
    margin-top: 100px;
    margin-left: 20%;
    overflow: hidden;
    float: left;
    box-shadow: 4px 4px grey;
    border: 6px solid #0c3b4b;
    z-index = -1;
    width: 11%;
    height: 80%;
    background-color: #18566a;

}

div.section-content
{
    display: none;
    position: relative;
    z-index = 0;
    margin-left: 4px;

}


div.section-content.show
{
    display: block;
}

