---
title: About - Gamespawn
layout: default
extra_css: about.css
---
<div class="centered">
    <div class="text-align-center">
        <div class="spacer-large"></div>
        <h1>About</h1>
        <hr>
        <div class="spacer-small"></div>
    </div>

    <div class="text-align-center">
        <div class="cover-img-container group-pic margin-auto">
            <div class="cover-img" style="background-image: url({{site.baseurl}}/img/about/group.jpg)"></div>
        </div>
        <div class="spacer-medium"></div>
        <h2>Who we are</h2>
        <p>Founded in 2014, Gamespawn @ University of California Riverside is a student organization that focuses on
            introducting
            students to game development. Our organization teaches students game design, art, and programming through
            competitions and guest speakers. We do our best not only to motivate and encourage students to learn about
            game development, but also to provide a professional and comfortable environment for engineers,
            programmers, designers, and artists.</p>
        <div class="spacer-large"></div>

        <h2 id="H-executive-board-2019">Executive Board 2019-2020</h2>
        <div class="member-grid">
            {% for member in site.data.members_2019%}
            <div class="member-item">
                <img class="member-img" src="{{site.baseurl}}/img/{{member.image}}"
                    alt="{{member.name}}'s profile image'">
                <div class="spacer-small"></div>
                <h3 class="member-name">{{member.name}}</h3>
                <p class="member-position">{{member.position}}</p>
                <p><a class="member-email" href="mailto:{{member.email}}">{{member.email}}</a></p>
            </div>
            {% endfor %}
        </div>

        <div class="spacer-large"></div>
        <hr>
        <div class="spacer-large"></div>

        <h2 id="H-executive-board-2018">Executive Board 2018-2019</h2>
        <div class="member-grid">
            {% for member in site.data.members_2018%}
            <div class="member-item">
                <img class="member-img" src="{{site.baseurl}}/img/{{member.image}}"
                    alt="{{member.name}}'s profile image'">
                <div class="spacer-small"></div>
                <h3 class="member-name">{{member.name}}</h3>
                <p class="member-position">{{member.position}}</p>
                <p><a class="member-email" href="mailto:{{member.email}}">{{member.email}}</a></p>
            </div>
            {% endfor %}
        </div>

        <div class="spacer-large"></div>
        <hr>
        <div class="spacer-large"></div>

        <h2 id="H-executive-board-2017">Executive Board 2017-2018</h2>
        <div class="member-grid">
            {% for member in site.data.members_2017%}
            <div class="member-item">
                <img class="member-img" src="{{site.baseurl}}/img/{{member.image}}"
                    alt="{{member.name}}'s profile image'">
                <div class="spacer-small"></div>
                <h3 class="member-name">{{member.name}}</h3>
                <p class="member-position">{{member.position}}</p>
                <p><a class="member-email" href="mailto:{{member.email}}">{{member.email}}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>



    <div class="spacer-large"></div>
</div>