---
title: Projects - Gamespawn
extra_css: projects.css
layout: default
---

<div class="centered">
  <div class="text-align-center text-black">
    <div class="spacer-large"></div>
    <h1>Projects</h1>
    <div class="spacer-small"></div>

    <p id="sort-selector-text">Sort by <select id="sort-selector"></select>
    </p>
    <div id="projects">
      <div id="projects-by-year" class="">
        {% assign groupedProjects = site.projects | sort:"school-year" | group_by:"school-year" | reverse %}
        {% for project_section in groupedProjects %}
          {% capture section_name %}
          {{project_section.name | round}} - {{project_section.name | round | plus: 1}}
          {% endcapture %}
          {% assign section_projects = project_section.items %}
          {% include html/local/project_section.html %}
        {% endfor %}
      </div>
      <!-- ok so there's barely any comments anywhere here so this is ig where I'll be documenting my thoughts
      ok so apparently section_name is the whole uh 2021-2022 stuff
      so I tried to mimic that by doing .whatType 
      but it didn't work in fact whatType is null
      and I'm assuming section_projects is the name? hold on lemme give it a test
      ok so it turns out section_projects is... everything? either way don't touch that
      ...? I just noticed but I don't see project_section.items the .items part being menntioned anywhere
      how did it just suddenly crop into existence?????
      i guess it's just a keyword
      WAIT NO I DON'T SEE .NAME BEING REFERENCED ANYWHERE EITHER
      there's something happening here... something that's more than meets the eye... 
      ok so uh 2 hours later, I'm gonna mess around more with the config file cuz I realized I need to 
      be modifying site.projects instead of groupedProjects-->
      <div id="projects-by-title" class="hidden">
        {% assign section_name = "Projects (A-Z)" %}
        {% assign section_projects = site.projects | sort:"title" %}
        {% include html/local/project_section.html %}
      </div>
    </div>
    <div class="spacer-large"></div>
  </div>
</div>

{% include html/cta_banner.html %}

<script>
  let se = document.getElementById('sort-selector');
  let sortOptionsList = se.options;
  let sortOptions = [
    {
      name: "school year",
      id: "projects-by-year"
    },
    {
      name: "title",
      id: "projects-by-title"
    }
  ];

  function updateProjectsDisplay(sortName) {
    var visibleElement = sortOptions.find(op => op.name == sortName);
    if (visibleElement) {
      var visibleElementId = visibleElement.id;
      sortOptions.forEach(op => document.getElementById(op.id).classList.add("hidden"));
      document.getElementById(visibleElementId).classList.remove("hidden");
    }
    else {
      console.log(`Failed to find sort option with name ${sortName}`);
    }
  }

  se.onchange = (evt) => updateProjectsDisplay(evt.target.value);

  sortOptions.forEach(op => sortOptionsList.add(new Option(op.name)));
</script>