#background {
    position:absolute;
    left:0px;
    top:0px;
    z-index: -1;
}
nav {
    font-size: 25px;
    background-color: black;
    margin: 15px;
    padding: 15px;
}
nav ul {
    list-style-type: none;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 10;
}
li {
    display: inline;
    float: left;
    margin: 15px;
}
li a {
    padding: 10px 40px;
    font-family: oswald;
    color: #2e92ba;
}
li a:link {
    text-decoration: none;
}
li a:hover {
    background-color: #333e51;
}
.active {
    background-color: #f4f5f7;
}
#welcome {
    text-align: center;
    font-size: 60px;
    font-family: oswald;
}
#about {
    text-align: center;
    font-size: 20px;
    font-family: oswald;
}
