body, html {
    height: 100%;
    background-color: white;
}
/* Parallax Backgrounds */
.Workshops {
    background-image: url(4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
}
.Projects{
    background-image: url(1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
}
.Events {
    background-image: url(3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
}
.Socials {
    background-image: url(2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
}
/* Text divs for each section */
.DescriptionText1, .DescriptionText2, .DescriptionText3, .DescriptionText4 {
    display: flex;
/*    align-items: center;*/
    margin: auto;
    text-align: center;
    font-size: 2.5vh;
    width: 80%;
    height: 20%;
}
/* Text that overlays photos */
.imageText {
    margin: auto;
    text-align: center;
    background-color: gainsboro;
    opacity: 0.5;
    font-size: 5vh;
    max-width: 50%;
}
/*Opening Header*/
.header {
    text-align: center;
    height: 100%;
}
.headerText {
    margin: auto;
    font-size: 10vh;
    font-family: oswald;
    line-height: 120%;
    margin-bottom: 0.5cm;
    border-bottom-style: solid;
    border-bottom-width: thick;
    width: 50%;
}
.headerBody {
    position: absolute;
    font-size: 2.5vh;
    font-family: oswald;
    text-align: justify;
    background-color: white;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    max-height: 90%;
    max-width: 90%;
    align-self: center;
    flex-flow: column;
    margin: auto;
    background-color: white;
}
.slideshowImg {
    display: inline-block;
    margin: auto;
    width: 100%;
    max-height: 750px;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 3vh;
    transition: 0.6s ease;
    border-radius: 0 0px 3px 0;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color*/
.prev:hover, .next:hover {
    background-color: #191919;
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 3vh;
    color: black;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 2vh;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}