/* General formatting */
body, html {
    height: 100%; /* Allows for parallax */
    background-color: lightgrey;
    margin: 0px; /* No horizontal scrolling */
    font-family: oswald;
}

/* Parallax Screens */
.Slideshow {
    display: table;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.Workshops {
    display: table;
    width: 100%;
    background-image: url(4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%; /* Leaves room for text at the bottom and navbar */
}
.Projects{
    display: table;
    width: 100%;
    background-image: url(hacknight.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}
.Events {
    display: table;
    width: 100%;
    background-image: url(obsidian.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}
.Socials {
    display: table;
    width: 100%;
    background-image: url(bgsocial.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}

/* Parallax Description Text */
.DescriptionText1, .DescriptionText2, .DescriptionText3, .DescriptionText4 {
    display: flex;
    margin: auto;
    margin-top: 2.5vh;
    text-align: center;
    font-size: 3vh;
    width: 80%;
    height: 20%;
}

/* Parallax Photo Text */
.middleContainer {
    display: table-cell;
    vertical-align: middle;
}
.innerTextContainer {
    text-align: center;
}
.inlineText {
    background-color: #1d2630;
    opacity: 0.9;
    color: floralwhite;
    font-family: inherit;
    font-size: 8.5vh;
}

/* Slideshow formatting*/
.slideshowContainer {
    margin-top: 15vh;
    margin-left: 50vh;
    margin-right: 50vh;
    position: relative;
    max-width: 80%;
    max-height: 75%;
}
.imageHolder {
    max-width: 100vh;
    max-height: 100vh;
    position: absolute;
}
.slideshowImg {
    width: 100%;
    height: 100%;
/*  display: none;*/
}
.captionText {
	position:absolute;
	bottom: 0px;
	left: 15px;
	background-color: aliceblue;
}

/* First parallax page */
.headerOuterContainer {
    text-align: center;
    height: 100%;
}
.headerText {
    margin: auto;
    margin-top: 10vh;
    font-size: 10vh;
    font-family: oswald;
    line-height: 120%;
    margin-bottom: 0.5cm;
    border-bottom-style: solid;
    border-bottom-width: thick;
    width: 50%;
}
.headerBody {
    position: relative;
    font-size: 2.5vh;
    font-family: oswald;
    text-align: center;
    margin: 0;
}
.imgOuterContainer {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}
