/* General formatting */
body, html {
    height: 100%; /* Allows for parallax */
    background-color: lightgrey;
    margin: 0px; /* No horizontal scrolling */

}

/* Parallax Background Photo Divs */
.Workshops {
    display: table;
    width: 100%;
    background-image: url(4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%; /* Leaves room for text at the bottom and navbar */
}
.Projects{
    display: table;
    width: 100%;
    background-image: url(11.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}
.Events {
    display: table;
    width: 100%;
    background-image: url(3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}
.Socials {
    display: table;
    width: 100%;
    background-image: url(2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
}

/* Parallax text divs */
.DescriptionText1, .DescriptionText2, .DescriptionText3, .DescriptionText4 {
    display: flex;
    margin: auto;
    margin-top: 2.5vh;
    text-align: center;
    font-size: 2.5vh;
    width: 80%;
    height: 20%;
}

/* Text that overlays photos. middleContainer allows the
   surrounding text div to be centered vertically and horizontally within
   the Workshops/Projects/Events/Socials divs */
.middleContainer {
    display: table-cell;
    vertical-align: middle;
}
/* This centers the actual text within the middleContainer */
.innerTextContainer {
    text-align: center;
}
/* Background and text formatting */
.inlineText {
    background-color: #1d2630;
    opacity: 0.9;
    color: floralwhite;
    font-family: inherit;
    font-size: 8.5vh;
}

/* SLIDESHOW */
.slideshow-container {
    position: relative;
    height: 100%;
    width: 100%;
    align-self: center;
    flex-flow: column;
    margin: auto;
}
.slideshowInnerContainer {
    height: 100%;
}
.slideshowImg {
    height: 100%; /* Leave room for Upcoming Date and Time text */
    width: 100%; /* Stretch to end of slideshowInnerContainer horizontally */
}
.slideshowTextContainer {
    
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 3vh;
    transition: 0.6s ease;
    border-radius: 0 0px 3px 0;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color*/
.prev:hover, .next:hover {
    background-color: #191919;
}
/* Caption text */
.text {
    font-size: 3vh;
    position: absolute;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 2vh;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* WELCOME TO GAMESPAWN */
.headerOuterContainer {
    text-align: center;
    height: 100%;
}
/* Header text formatting */
.headerText {
    margin: auto;
    margin-top: 10vh;
    font-size: 10vh;
    font-family: oswald;
    line-height: 120%;
    margin-bottom: 0.5cm;
    border-bottom-style: solid;
    border-bottom-width: thick;
    width: 50%;
}
/* Body text formatting */
.headerBody {
    position: absolute;
    font-size: 2.5vh;
    font-family: oswald;
    text-align: justify;
}
/* Images below small text*/
.imgOuterContainer {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}