/*Navigation bar*/
nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin:0px;
    padding: 15px;
    width: 100%;
    background-color: #1f1f1f;
    z-index: 10;
}

nav img
{
    display: block;
    padding-left: 300px;
}
/*List style type*/
nav ul {
    list-style-type: inline;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 900px;
    width: 100%;
    
    
} 


nav ul li {
    display:inline-block;
    margin: -20px;
    margin-top: 25px;
}
/*List link object formatting*/
nav ul li a {
    padding: 10px 40px;
    font-size: 18px;
    font-family: oswald;
    color: white;
}
nav ul li a:link {
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
nav ul li a.active {
    text-decoration: underline;
}

@media only screen and (min-width: 414px) and (max-width: 600px)
{
    nav ul li
    {
        margin-right: 110px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 960px)
{
    nav ul li
    {
        margin-right: 80px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1024px)
{
    nav ul li
    {
        margin-left: 80px;
        margin-right: 100px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px)
{
    nav ul li
    {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px)
{

    nav ul li
    {
        margin-right: 10px;
    }
}