/*Navigation bar*/
nav {
    display: block;
    padding: 15px;
    width: 100%;
    background-color: #1f1f1f;
    z-index: 10;
    position: fixed;
    margin-bottom: 200px;
}

nav img
{
    position: fixed;
    margin-left: 470px;
    top: 1.2%; 
}

/*Adjusts the contents of the whole list on the nav bar (NOT THE LOGO) */
nav ul {
    list-style-type: inline;
    display: inline;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 850px;
    width: 100%;
    
    
} 

nav ul li {
    display:inline;
    margin: -20px;
    margin-top: 15px;
}

/*List link object formatting*/
nav ul li a {
    padding: 10px 40px;
    margin-top: 50px;
    font-size: 20px;
    font-family: oswald;
    color: white;
}
nav ul li a:link {
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
nav ul li a.active {
    text-decoration: underline;
}

@media only screen and (min-width: 414px) and (max-width: 600px)
{
    nav ul li
    {
        margin-right: 110px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 960px)
{
    nav img
    {
        margin-left: 30px;
    }
    nav ul
    {
        margin-left: 300px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1024px)
{
    nav img
    {
        margin-left: 30px;
    }
    nav ul
    {
        margin-left: 380px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1130px)
{
    nav img
    {
        margin-left: 55px;
    }
    nav ul
    {
        margin-left: 435px;
    }
}

@media only screen and (min-width: 1130px) and (max-width: 1280px)
{
    nav img
    {
        margin-left: 125px;
    }
    nav ul
    {
        margin-left: 515px;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1600px)
{
    nav img
    {
        margin-left: 220px;
    }
    nav ul
    {
        margin-left: 600px;
    }
}