body
{
    background-color: lightgray;
    font-family: Oswald;
}

div.Email
{
    margin-top: 100px;
    margin-left: 310px;
    float: left;
    display: inline-block;
    width: 10%;
}

div.LinkContainer
{
    margin-left: 465px;
    display: block;
    width: 100%;
}