body
{
    background-color: lightgray;
    font-family: Oswald;
}

div.Email
{
    margin-top: 100px;
    float: left;
    display: inline-block;
}

div.LinkContainer
{
    margin-left: 500px;
    width: 20%;
}