/*******************************************

    JAM_BANNER.GENERAL

********************************************/

.jam-banner-text {
    display: inline-block;
    font-size: 1em;
}

#jam-banner-logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

#jam-link {
    float: right;
}

/*******************************************

    JAM_BANNER.MEDIA QUERIES

********************************************/

@media only screen and (max-width: 800px) {
    #jam-banner-container {
        text-align: center;
    }

    #jam-link {
        float: none;
    }
}