/*******************************************

    NAVBAR.GENERAL

********************************************/

nav {
    width: 100%;
    background: #2e2e2e;
    vertical-align: middle;
    font-weight: 400;
    position: fixed;
    z-index: 10;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.28);
}

nav a {
    text-decoration: none;
}

/*******************************************

    NAVBAR.SPACING

********************************************/

.navbar-space {
    width: 100%;
    height: 53px;
}

/*******************************************

    NAVBAR.IMAGES

********************************************/

.navbar-padded-img {
    height: 53px;
    padding: 10px;
    vertical-align: top;
    box-sizing: border-box;
}

.navbar-padded-img img {
    width: auto;
    height: 100%;
}

/*******************************************

    NAVBAR.HOME BUTTON
    
********************************************/

#navbar-home-btn {
    display: block;
    height: 53px;
    padding: 10px;
    /* vertical-align: top; */
    box-sizing: border-box;
    float: left;
    clear: left;
}

#navbar-home-btn:hover {
    background: #575757;
}

#navbar-home-btn img {
    height: 100%;
    width: auto;
}

/*******************************************

    NAVBAR.HAMBURGER/OVERFLOW MENU

********************************************/

.navbar-hamburger {
    display: none;
    box-sizing: border-box;
    position: relative;
    right: 0;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    float: right;
    cursor: pointer;
    color: white;
    text-align: left;
    text-rendering: geometricPrecision;
    font-size: 1.6rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-hamburger:hover {
    display: inline-block;
    background-color: #575757;
}

/*******************************************

    NAVBAR.LINKS CONTAINER

********************************************/

.navbar-links {
    float: right;
}

/*******************************************

    NAVBAR.TEXT LINKS

********************************************/

.navbar-text-links {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.navbar-text-links li {
    display: inline-block;
}

.navbar-text-lk {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.navbar-text-lk:hover {
    background-color: #575757;
}

/*******************************************

    NAVBAR.SOCIAL MEDIA LINKS

********************************************/

.navbar-social-links {
    display: inline-block;
    height: 53px;
    list-style-type: none;
    text-align: center;
    vertical-align: top;
}

.navbar-social-links li {
    display: inline-block;
    height: 100%;
}

.navbar-social-links li a {
    display: block;
    box-sizing: border-box;
    width: 53px;
    height: 53px;
    padding: 13px;
}

.navbar-social-links li a div {
    width: auto;
    height: 100%;
    vertical-align: top;
    background-size: cover;
}

#navbar-bookface-img {
    background-image: url({{site.baseurl}}/img/bookface_logo.png);
    transition: background-image 0.15s;
}

#navbar-discord-img {
    background-image: url({{site.baseurl}}/img/discord_logo.png);
    transition: background-image 0.15s;
}

#navbar-bookface-img:hover {
    background-image: url({{site.baseurl}}/img/bookface_logo_blue.png);
}

#navbar-discord-img:hover {
    background-image: url({{site.baseurl}}/img/discord_logo_blue.png);
}

/*******************************************

    NAVBAR.POST-MODIFIERS

********************************************/

.navbar-text-link-highlight {
    color: #23d0ff;
    font-weight: 500;
}

/*******************************************

    NAVBAR.MEDIA QUERIES

********************************************/

@media only screen and (max-width: 800px) {
    #navbar-home-btn {
        display: inline-block;
        float: none;
        clear: none;
    }
    .navbar-hamburger {
        display: inline-block;
    }
    .navbar-links {
        float: none;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.25s;
    }
    .navbar-links-showing {
        max-height: 340px;
    }
    .navbar-text-links {
        display: block;
    }
    .navbar-text-links li {
        display: block;
    }
    .navbar-text-lk {
        display: block;
    }
    .navbar-social-links {
        display: block;
        height: 70px;
    }
    .navbar-social-links li a {
        display: block;
        box-sizing: border-box;
        width: 70px;
        height: 70px;
        padding: 18px;
    }
}