<!-- Call To Action Banner -->
<!-- Requires common.css -->

<div class="full-width blue-bg padded-section">
    <div class="centered floatstop text-white">
        <div class="inline-centered">
            <span><object type="image/svg+xml" data="img/gamespawn_logo.svg" alt="Gamespawn Logo" style="vertical-align: middle">
                    Your browser does not support SVG
            </object></span
            ><span>
                <p class="cta-text margin-10">&nbsp;&nbsp;Interested? Sign up for email updates.&nbsp;&nbsp;</p>
            </span
            ><span>
                <a href="{{site.baseurl}}/signup.html" class="btn-outlined">Sign up</a>
            </span>
        </div>
    </div>
</div>