<!-- Footer -->
<!-- Requires common.css -->

<footer class="full-width padded-section grey-bg">
    <div class="centered text-white floatstop">
        <div class="col-3 padding-20">
            <a href="./index.html" title="Home" alt="Home button"><img src="{{site.baseurl}}/img/Logo.png" alt="Gamespawn logo"></a>
            <p class="copyright">Copyright &copy 2018 Gamespawn</p>
            <ul class="navbar-social-links">
                <li><a href="https://www.facebook.com/groups/gamespawn/" title="Facebook group">
                        <div id="navbar-bookface-img" alt="Facebook group"></div>
                    </a></li>
                <li><a href="https://discordapp.com/invite/ejzg2Wb" title="Discord server">
                        <div id="navbar-discord-img" alt="Discord server"></div>
                    </a></li>
            </ul>
        </div>
        <div class="col-3 padding-20">
            <h3>Get to know us</h3>
            <p><a href="{{site.baseurl}}/about.html">About</a></p>
            <p><a href="https://drive.google.com/file/d/1lEpBL23hLlHtkyTcpyQ3c8gnIy3PouNT/view?usp=sharing">Constitution</a></p>
            <p><a href="{{site.baseurl}}/contact.html">Contact</a></p>
        </div>
        <div class="col-3 padding-20">
            <h3>Get involved</h3>
            <p><a href="{{site.baseurl}}/projects.html">Projects</a></p>
            <p><a href="{{site.baseurl}}/live.html">Livestream</a></p>
            <p><a href="{{site.baseurl}}/events.html">Events</a></p>
            <p><a href="{{site.baseurl}}/signup.html">Mailing List</a></p>
        </div>

    </div>
</footer>