
<!-- Call To Action Banner -->
<!-- Requires common.css -->

<div class="full-width blue-bg padded-section-thin">
    <div class="centered floatstop text-white" id="jam-banner-container">
        <div>
            <span><object type="image/svg+xml" data="{{site.baseurl}}/img/fall-jam-2018/jam-logo.svg" alt="Jam Logo" id="jam-banner-logo">
                    Your browser does not support SVG
            </object></span
            ><span>
                <p class="jam-banner-text margin-10">&nbsp;&nbsp;Winter Game Jam on March 2! Register now!&nbsp;&nbsp;</p>
            </span
            ><span>
                <a href="{{site.baseurl}}/jam" class="btn-outlined" id="jam-link">Go to Jam</a>
            </span>
        </div>
    </div>
</div>