<!-- Top Navigation Bar -->
<!-- Requires common.css, navbar.css -->
<nav>
    <div class="floatstop centered">
        <a href="{{site.baseurl}}/index.html" id="navbar-home-btn" title="Home" alt="Home button"><img src="{{site.baseurl}}/img/Logo.png" alt="Gamespawn logo"></a>
        <div class="navbar-hamburger" onclick="toggle_navbar_links()">&#9776;</div>
        <div class="navbar-links">
            <ul class="navbar-text-links">
                <!-- <li><a class="navbar-text-lk" href="{{site.baseurl}}/ggj.html">✨Global Game Jam✨</a></li
                    > -->
                 <li><a class="navbar-text-lk" href="{{site.baseurl}}/index.html">Home</a></li
                ><li><a class="navbar-text-lk" href="{{site.baseurl}}/projects_homepage.html">Projects</a></li
                ><li><a class="navbar-text-lk" href="{{site.baseurl}}/assets.html">Assets</a></li
                ><li><a class="navbar-text-lk" href="{{site.baseurl}}/events.html">Events</a></li
                ><li><a class="navbar-text-lk" href="{{site.baseurl}}/about.html">About</a></li
                >
            </ul>
            <ul class="navbar-social-links">
                <li><a href="{{site.data.outgoing.social-links.facebook}}" target="_blank" title="Facebook group"><div id="navbar-bookface-img" alt="Facebook group"></div></a></li
                ><li><a href="{{site.data.outgoing.social-links.discord}}" target="_blank" title="Discord server"><div id="navbar-discord-img" alt="Discord server"></div></a></li>
            </ul>
        </div>
    </div>
    
</nav>
<div class="navbar-space"></div>
<script src="{{site.baseurl}}/js/navbar.js"></script>