<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#10739b" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}"/>

    {% if page.description %}
    <meta property="og:description" content="{{page.description}}"/>
    {% else %}
    <meta property="og:description" content="We are a student organization that focuses on introducing students to game development. We do our best not only to motivate and encourage students to learn about game development, but also to provide a professional and comfortable environment for engineers, programmers, designers, and artists."/>
    {% endif %}

    {% if page.thumbnail %}
    <meta property="og:image" content="{{site.baseurl}}/{{page.thumbnail}}"/>
    {% else %}
    <meta property="og:image" content="{{site.baseurl}}/img/Logo.png"/>
    {% endif %}

    <title>{{page.title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500">
    <link rel="stylesheet" href="{{site.baseurl}}/css/fonts/top_gun/stylesheet.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    {% if page.extra_css %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/{{page.extra_css}}">
    {% endif %}
    <link rel="icon" href="{{site.baseurl}}/img/favicon.jpg">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67508291-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-67508291-3');
    </script>

</head>

<body style="-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;">
    {% include html/navbar.html %}

    {{content}}

    {% include html/footer.html %}
</body>

</html>