---
layout: default
---


<div id="bg-image" style="background:  linear-gradient(#000000e1, #0000009d), 
  url({{site.baseurl}}/{{page.thumbnail}}) no-repeat center / cover">
    <div class="centered">
    <div class="spacer-large"></div>
    <div class="spacer-large"></div>
    <div class="floatstop">
        <a href="{{site.baseurl}}/projects.html"> &lt; Back to Projects</a>
        <h1 id="page-title">{{page.title}}</h1>
        <p id="page-subtitle">By {{ page.team | join: ", " }}</p>
        <br>
        {% if page.tags contains "recruiting" %}
        <div class="recruitment-banner">&#x2605; {{page.title}} is currently recruiting
            {% if page.recruiting and page.recruiting != "" %}
            {{page.recruiting | join: ", "}} and more!
            {% else %}
            new members! 
            {% endif %}
            &nbsp;
            <a href="https://goo.gl/forms/BOnQ4SnIVQcyTD7I2" class="btn-outlined margin-10 mobile-center-button">Apply now!</a></div>
        <br>
        {% endif %}
        {% if page.video-embed and page.video-embed != "" %}
            <iframe id="project-page-thumbnail" src="{{page.video-embed}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
            <img src="{{site.baseurl}}/{{page.thumbnail}}" id="project-page-thumbnail">
        {% endif %}
        {% if page.download-link and page.download-link != "" %}
        <div class="download-link-container">
            <a class="download-button" href='{{page.download-link}}'>&#9654; &nbsp;Play</a>
            <p>{{page.title}}</p>
        </div>
        
        {% endif %}
        <div class="spacer-medium"></div>
        <p>
            Contact: <a href="mailto:{{page.email}}">{{page.email}}</a> <br>
            Added on: {{page.school-year}} <br>
            Tags: {{ page.tags | join: ", "}}
        </p>
        <hr>
        <p>
            {% if page.description and page.description != "" %}
            {{ page.description | mardownify }}
            {% endif %}
        </p>
    </div>
    <div class="spacer-large"></div>
    <div class="spacer-large"></div>
</div>
</div>




{{content}}