---
layout: default
---

<div style="position: relative;">
  <div id="bg-image" style="background-image: url({{site.baseurl}}/{{page.thumbnail}});"></div>
  <div class="centered">
  <div class="spacer-medium"></div>
  <div class="floatstop">
      <div class="spacer-medium"></div>
      <a href="{{site.baseurl}}/techtalks.html"> &lt; Back to Tech Talks</a>
      <div class="spacer-medium"></div>
      <h1 id="page-title">{{page.company}}</h1>
      <br>

      <div class="spacer-medium"></div>
      <p>
          {% if page.email != "" %}
            Contact: <a href="mailto:{{page.email}}">{{page.email}}</a> <br>
          {% endif %}

          {% if page.quarter-start-end == "" %}
            Added on: {{page.school-year}} <br>
          {% else %}
            {{page.quarter-start-end}} <br>
          {% endif %}

          Tags: {{ page.tags | join: ", "}}
      </p>
      <hr>
      <p>
          {% if page.description and page.description != "" %}
          {{ page.description | mardownify }}
          {% endif %}
      </p>
      <p>
        {% for talker in page.talkers%}
            <div>
                <p>Hello {{talker["name"]}}</p>
            </div>
        {% endfor %}
      </p>
  </div>
  <div class="spacer-large"></div>
  <div class="spacer-large"></div>
</div>
</div>

{{content}}