*
{
  margin: 0;
  padding: 0;
}

body
{
    background-color: lightgray;
    width:100%;
}

table
{
    font-family: sans-serif;
    font-size: 25pt;
}

td
{
    padding-left: 50px;
    overflow:hidden;
}

.calendar
{
    position: relative;
    margin-top: 75px;
    padding-bottom: 35%;
    height:0px;
    overflow:hidden;
}

.calendar iframe
{
    position: absolute;
    top: 0;
    left:0; 
    margin: 0px;
    width:100%;
    height:100%;
}

/* Modal Information */
/*Background*/
.modal
{
  display: none; /*Keep hidden by default*/
  opacity: 0;
  position: fixed; /* Stay in place */
  z-index = 1; /* Make sure the box is front of everything*/
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: rgba(0,0,0,0.5); /*Black with opacity*/
}

.modal-content
{
  position: relative;
  left: 30%;
  top: 20%;
  width: 40%;
  height: 20%;
  margin: 30px 30px;
  padding: 0px;
  border: 1px solid #888;
  background-color: black;
  font-family: Oswald;
}

.modal-header
{
  padding: 2px 16px;
  background-color: #063f9b;
  color: black;
}

/* Modal Content */
.modal-body
{
  background-color:#fefefe;
  margin: 0px;
  padding: 20px;
}

/* Modal Image */
.modal-image {
    position: relative;
    margin: auto;
    display: block;
    top: 20%;
    width: 30%;
    height: 70%;
    max-width: 700px;
}

/* Close button*/
.close
{
  color:#aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 5px 5px;
}
.close:hover
{
  color: black
  text-decoration: none;
  cursor: pointer;
}

/* Modal End */

div.image_holder
{
    font-family: Oswald;
}